<!-- Card Blog -->
<div id="faq" class="max-w-[85rem] py-10 px-4 md:px-16  mx-auto" #faq>
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14" #titre>
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">{{ 'faq.titre' | translate}}</h2>
      <p class="mt-1 text-gray-600">{{ 'faq.description' | translate}}</p>
    </div>
    <!-- End Title -->
    <!-- Icon Blocks -->
    <div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 items-center gap-12">
            <div #appicon>
              <app-icon-block 
              [icon]="'assets/destination.png'" 
              title= "{{ 'faq.blocs.b1' | translate}}" 
              ></app-icon-block>
            </div>
            <div #appicon>
              <app-icon-block 
              [icon]="'assets/satisfaction-du-client.png'" 
              title= "{{ 'faq.blocs.b2' | translate}}" 
              ></app-icon-block>
            </div>
            <div #appicon>
              <app-icon-block 
              [icon]="'assets/offrir.png'" 
              title= "{{ 'faq.blocs.b3' | translate}}" 
              ></app-icon-block>
            </div>
            <div #appicon>
              <app-icon-block 
              [icon]="'assets/assistance-24h-24.png'" 
              title= "{{ 'faq.blocs.b4' | translate}}" 
              ></app-icon-block>
            </div>
        </div>
    </div>
    <!-- End Icon Blocks -->
  </div>
  <!-- End Card Blog -->